/* GENERAL */
.app-registrate {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* FONDO DE CÍRCULOS */
.fondo-decoracion-registrate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

/* CÍRCULOS */
.circulo-verde1-registrate,
.circulo-rojo1-registrate,
.circulo-verde2-registrate,
.circulo-rojo2-registrate,
.circulo-verde3-registrate,
.circulo-rojo3-registrate {
  position: absolute;
  border-radius: 50%;
  opacity: 0.2;
  z-index: 0;
}

.circulo-verde1-registrate {
  width: 200px;
  height: 200px;
  background: #06d6a0;
  top: -30px;
  right: 22%;
}

.circulo-rojo1-registrate {
  width: 130px;
  height: 130px;
  background: #ff6b6b;
  top: -40px;
  right: 16%;
}

.circulo-verde2-registrate {
  width: 200px;
  height: 200px;
  background: #06d6a0;
  left: 5%;
  bottom: 40%;
}

.circulo-rojo2-registrate {
  width: 130px;
  height: 130px;
  background: #ff6b6b;
  left: 16%;
  bottom: 33%;
}

.circulo-verde3-registrate {
  width: 200px;
  height: 200px;
  background: #06d6a0;
  right: -40px;
  bottom: 22%;
}

.circulo-rojo3-registrate {
  width: 130px;
  height: 130px;
  background: #ff6b6b;
  right: 8%;
  bottom: 90px;
}

/* CARD CENTRADO */
.contenido-centrado {
  position: relative;
  z-index: 10; /* para quedar encima de los círculos */
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.card-registro {
  background: white;
  width: 380px;
  padding: 35px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
}

.linea-registro {
  border: none;
  height: 1px;
  background-color: #000000;
  margin: 20px 0;
}

.icons-back {
  width: 8%;
  position: absolute;
  top: 2%;
  left: 88%;
}

.user-blue {
  width: 20%;
}

/* FOOTER */
.footer-registrate {
  background: #222;
  color: white;
  padding: 40px 60px;
  margin-top: 70px;
  z-index: 2;
}

.pie-registrate {
  color: #ccc;
  font-size: 14px;
}

.card-registro {
  background: white;
  width: 400px;
  padding: 40px 45px;
  border-radius: 20px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
  text-align: center;
  position: relative;
}

/* ICONO AZUL */
.icono-registro .material-icons {
  font-size: 60px;
  color: #1e88e5;
}

/* TÍTULOS */
.titulo-principal {
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.logo-registro {
  font-size: 14px;
  margin-top: 3px;
  color: #666;
}

.subtitulo-registro {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

/* INPUTS */
.input-group {
  position: relative;
  width: 100%;
  margin-top: 18px;
}

.input-group input {
  width: 90%;
  background: #f2f2f2;
  padding: 15px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

.eyes-off {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 22px;
  color: #8e8e8e;
  cursor: pointer;
  width: 20px;
}

/* NOTA */
.nota {
  margin-top: 6px;
  font-size: 11px;
  color: #7b7b7b;
}

/* BOTÓN AZUL */
.btn-blue-registrarse {
  width: 100%;
  margin-top: 25px;
  padding: 13px;
  background: linear-gradient(to right, #1e88e5, #1976d2);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn-blue-registrarse:hover {
  opacity: 0.9;
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

/* TABLETS (hasta 992px) */
@media (max-width: 992px) {
  .contenido-centrado {
    margin-top: 90px;
    padding: 0 20px;
  }

  .card-registro {
    padding: 35px 30px;
  }

  .footer-registrate {
    padding: 35px 30px;
  }
}

/* CELULARES (hasta 576px) */
@media (max-width: 576px) {
  .contenido-centrado {
    margin-top: 27px;
    padding: 0 15px;
  }

  .icons-back {
    width: 8%;
    position: absolute;
    top: 2%;
    left: 88%;
  }

  .fondo-decoracion-registrate {
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
  }

  .card-registro {
    padding: 30px 20px;
    border-radius: 15px;
    width: 90%;
  }

  .subtitulo-registro {
    font-size: 18px;
  }

  .input-group input {
    padding: 13px;
    font-size: 13px;
  }

  .btn-registrarse {
    font-size: 14px;
    padding: 12px;
  }

  .linea-registro {
    border: none;
    width: 80%;
    height: 1px;
    background-color: #000000;
    margin: 20px 0;
    margin-top: -5%;
    margin-left: 10%;
  }

  .logo-registro {
    font-size: 14px;
    margin-top: -5%;
    color: #666;
  }

  .titulo-principal {
    margin-top: 25px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .eyes-off {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 22px;
    color: #8e8e8e;
    cursor: pointer;
  }

  /* Reducimos círculos decorativos */
  .circulo-verde1-registrate,
  .circulo-verde2-registrate,
  .circulo-verde3-registrate {
    width: 140px;
    height: 140px;
  }

  .circulo-rojo1-registrate,
  .circulo-rojo2-registrate,
  .circulo-rojo3-registrate {
    width: 90px;
    height: 90px;
  }

  .footer-registrate {
    padding: 10px 20px;
    text-align: center;
    /* margin-bottom: 200%; */
  }
}

@media (max-width: 662px) {
  .contenido-centrado {
    margin-top: 27px;
    padding: 0 15px;
  }

  .fondo-decoracion-registrate {
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
  }

  .card-registro {
    padding: 30px 20px;
    border-radius: 15px;
    width: 90%;
  }

  .subtitulo-registro {
    font-size: 18px;
  }

  .input-group input {
    padding: 13px;
    font-size: 13px;
  }

  .btn-registrarse {
    font-size: 14px;
    padding: 12px;
  }

  .linea-registro {
    border: none;
    width: 80%;
    height: 1px;
    background-color: #000000;
    margin: 20px 0;
    margin-top: -2%;
    margin-left: 10%;
  }

  .logo-registro {
    font-size: 14px;
    margin-top: -2%;
    color: #666;
  }

  .titulo-principal {
    margin-top: 25px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .eyes-off {
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 22px;
    color: #8e8e8e;
    cursor: pointer;
  }

  /* Reducimos círculos decorativos */
  .circulo-verde1-registrate,
  .circulo-verde2-registrate,
  .circulo-verde3-registrate {
    width: 140px;
    height: 140px;
  }

  .circulo-rojo1-registrate,
  .circulo-rojo2-registrate,
  .circulo-rojo3-registrate {
    width: 90px;
    height: 90px;
  }

  .footer-registrate {
    padding: 10px 20px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .contenido-centrado {
    margin-top: 27px;
    padding: 0 15px;
  }

  .fondo-decoracion-registrate {
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
  }

  .card-registro {
    padding: 30px 20px;
    border-radius: 15px;
    width: 90%;
  }

  .subtitulo-registro {
    font-size: 18px;
  }

  .input-group input {
    padding: 13px;
    font-size: 13px;
  }

  .btn-registrarse {
    font-size: 14px;
    padding: 12px;
  }

  .linea-registro {
    border: none;
    width: 80%;
    height: 1px;
    background-color: #000000;
    margin: 20px 0;
    margin-top: -5%;
    margin-left: 10%;
  }

  .logo-registro {
    font-size: 14px;
    margin-top: -5%;
    color: #666;
  }

  .titulo-principal {
    margin-top: 25px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .eyes-off {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 22px;
    color: #8e8e8e;
    cursor: pointer;
  }

  /* Reducimos círculos decorativos */
  .circulo-verde1-registrate,
  .circulo-verde2-registrate,
  .circulo-verde3-registrate {
    width: 140px;
    height: 140px;
  }

  .circulo-rojo1-registrate,
  .circulo-rojo2-registrate,
  .circulo-rojo3-registrate {
    width: 90px;
    height: 90px;
  }

  .footer-registrate {
    padding: 10px 20px;
    text-align: center;
  }
}
