/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #111;
  color: #fff;
}

.logo {
  margin-bottom: 30px;
  margin-left: 30px;
}

.menu-title {
  font-weight: 100;
  color: rgb(255 255 255 / 60%);
  margin-top: 25%;
  margin-bottom: -5%;
  margin-left: 30px;
}

.menu {
  list-style: none;
  padding: 0;
}
/* 
.menu li {
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
}

.menu li:hover {
  opacity: 0.3;
  background-color: #ddd;
  color: black;
} */

.menu .activo {
  font-weight: bold;
}

.sid-inicio {
  text-decoration: none;
  color: #fff;
}

span {
  margin-left: 30px;
}

.menu li {
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  transition: background 0.2s ease;
}

/* Hover SOLO cuando no es la vista actual */
.menu li:not(.activo):hover {
  background-color: #ddd;
  color: black;
}

/* Vista activa (hover fijo) */
.menu li.activo {
  font-weight: bold;
  background-color: #ddd;
  cursor: default;
  opacity: 0.3;
  color: black;
}
